<h3>Edit Game</h3>
<label>Game Opponent: </label>
<input [(ngModel)]="selectedGameToEdit.opponent">
<br>
<label>Level</label>
<select id="gameLevelInput" [(ngModel)]="selectedGameToEdit.level">
  <option value="V">Varsity</option>
  <option value="JV">JV</option>
</select>
<label>Date</label>
<input type="date" [ngModel]="selectedGameToEdit.date | date:'yyyy-MM-dd'" (ngModelChange)="selectedGameToEdit.date = $event">
<label>Time</label>
<input type="time" [(ngModel)]="selectedGameToEdit.time">
<label>Home/Away</label>
<select [(ngModel)]="selectedGameToEdit.homeAway">
  <option value="home">Home</option>
  <option value="away">Away</option>
  <option value="neutral">Neutral</option>
</select>
<label>Location</label>
<input [(ngModel)]="selectedGameToEdit.location">
<label>Type</label>
<select [(ngModel)]="selectedGameToEdit.type">
  <option value="league">League</option>
  <option value="non-league">Non-league</option>
  <option value="playoff">Playoff</option>
</select>
<button class="btn btn-danger"(click)="beginUpdatingGame(selectedGameToEdit)">Update</button>