<h3>Add New Coach</h3>
<form>
  <div class="form-group">
    <label for="coachLevelInput">Level</label>
    <select class="form-control" id="coachLevelInput" #newLevel>
      <option value="V">Varsity</option>
      <option value="JV">JV</option>
    </select>
  </div>
  <div class="form-group">
    <label for="coachNameInput">Name</label>
    <input type="text" class="form-control" id="coachNameInput" placeholder="Sean Miller" #newName>
  </div>
  <div class="form-group">
    <label for="coachEmailInput">Email</label>
    <input type="email" class="form-control" id="coachEmailInput" placeholder="example@example.com" #newEmail>
  </div>
  <div class="form-group">
    <label for="coachTitleInput">Title</label>
    <input type="text" class="form-control" id="coachTitleInput" placeholder="Head Coach" #newTitle>
  </div>
  <div class="form-group">
    <label for="coachBioInput">Bio</label>
    <textarea type="text" class="form-control" id="gameLocationInput" #newBio></textarea>
  </div>
  <button class="btn btn-danger"(click)="submitForm(newLevel.value, newName.value, newEmail.value, newTitle.value, newBio.value)">Submit</button>
</form>