<h3>Add New Game</h3>
<form>
  <div class="form-group">
    <label for="gameLevelInput">Level</label>
    <select class="form-control" id="gameLevelInput" #newLevel>
      <option value="V">Varsity</option>
      <option value="JV">JV</option>
    </select>
  </div>
  <div class="form-group">
    <label for="gameOpponentInput">Opponent</label>
    <input type="text" class="form-control" id="gameOpponentInput" placeholder="Moorpark" #newOpponent>
  </div>
  <div class="form-group">
    <label for="gameDateInput">Date</label>
    <input type="date" class="form-control" id="gameDateInput" #newDate>
  </div>
  <div class="form-group">
    <label for="gameTimeInput">Time</label>
    <input type="time" class="form-control" id="gameTimeInput" #newTime>
  </div>
  <div class="form-group">
    <label for="gameHomeAwayInput">Home/Away</label>
    <select (change)="onChange($event.target.value)" class="form-control" id="gameHomeAwayInput" #newHomeAway>
      <option value="home" selected="selected">Home</option>
      <option value="away">Away</option>
      <option value="neutral">Neutral</option>
    </select>
  </div>
  <div class="form-group">
    <label for="gameLocationInput">Location</label>
    <input type="text" class="form-control" id="gameLocationInput" value={{location}} #newLocation>
  </div>
  <div class="form-group">
    <label for="gameTypeInput">Type</label>
    <select class="form-control" id="gameTypeInput" #newType>
      <option value="league" selected="selected">League</option>
      <option value="non-league">Non-league</option>
      <option value="playoff">Playoff</option>
    </select>
  </div>
  <button class="btn btn-danger"(click)="submitForm(newLevel.value, newOpponent.value, newDate.value, newTime.value, newHomeAway.value, newLocation.value, newType.value)">Submit</button>
</form>