<h1>Fillmore Football Schedule</h1>
<app-schedule-filter-by-level (changeSender)="filterScheduleByLevel($event)"></app-schedule-filter-by-level>
<app-schedule-filter-by-home-away (changeSender)="filterScheduleByHomeAway($event)"></app-schedule-filter-by-home-away>
<app-schedule-filter-by-type (changeSender)="filterScheduleByType($event)"></app-schedule-filter-by-type>
<div class="row">
  <div class="col">
    Opponent
  </div>
  <div class="col">
    Time
  </div>
  <div class="col">
    Location
  </div>
  <div class="col">

  </div>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let game of games | gamelevel:filterGamesByLevel | gametype:filterGamesByType | gamehomeaway:filterGamesByHomeAway">
      <div class="row">
        <div class="col">
          <h2><span *ngIf="game.homeAway === 'away'">@</span>{{game.opponent}}<span *ngIf="game.type === 'league'">*</span></h2>
          <h6>{{game?.date}}</h6>
        </div>
        <div class="col">
          <h6>{{game?.time}}</h6>
        </div>
        <div class="col">
          <h6>{{game?.location}}</h6>
        </div>
        <div class="col">
          <span (click)="editGameClickedToggle(game)"><fa name="edit"></fa></span>
        </div>
      </div>
      
    </li>
  </ul>
<span>* Denotes league game</span>
<div *ngIf="editGameClicked">
  <app-schedule-edit [selectedGameToEdit]="selectedGameToEdit"></app-schedule-edit>
</div>
<!-- .toLocaleString('en-us', { weekday: "short", month: "short", day: "numeric" })} -->
<!-- .toLocaleTimeString('en-US', {hour: 'numeric', minute:'numeric'})} -->
