.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "app-component-navbar app-component-navbar app-component-navbar app-component-navbar" "app-component-twitter app-component-router-outlet app-component-router-outlet app-component-router-outlet" "app-component-twitter app-component-router-outlet app-component-router-outlet app-component-router-outlet" "app-component-twitter app-component-router-outlet app-component-router-outlet app-component-router-outlet" "app-component-twitter app-component-router-outlet app-component-router-outlet app-component-router-outlet" "app-component-twitter app-component-router-outlet app-component-router-outlet app-component-router-outlet" "app-component-twitter app-component-router-outlet app-component-router-outlet app-component-router-outlet" "app-component-twitter app-component-router-outlet app-component-router-outlet app-component-router-outlet";
}

.app-component-navbar { grid-area: app-component-navbar; }

.app-component-twitter { grid-area: app-component-twitter; }

.app-component-router-outlet { grid-area: app-component-router-outlet; }