<h1>Fillmore High School Coaching Staff</h1>
<app-coaches-filter-by-level (changeSender)="filterCoachesByLevel($event)"></app-coaches-filter-by-level>
<div *ngFor="let coach of coaches | level:filterCoachesByLevelParam">
  <h3>{{coach?.name}}</h3>
  <p>{{coach?.email}}</p>
  <p>{{coach?.title}}</p>
  <span (click)="editCoachClickedToggle(coach)"><fa name="edit"></fa></span>
  <span (click)="deleteCoach(coach)"><fa name="trash"></fa></span>
  <hr>
</div>
<div *ngIf="editCoachClicked">
  <app-coaches-edit [selectedCoachToEdit]="selectedCoachToEdit"></app-coaches-edit>
</div>